@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;900&family=Montserrat:wght@300&family=Orbitron&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body,
#root,
.app {
    height: 100%;
    width: 100%;
    font-family: "Orbitron", sans-serif;
    color: #fff;
    background: linear-gradient(
        to right,
        #010101 0%,
        #010101 56%,
        #56b8ff 56%,
        #56b8ff 100%
      );
}